@media (max-width:952px){
    nav{
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    nav img{
        position: absolute;
        top:0px;
        left:0px;
        width:80px;
        height:80px;
    }
    nav ul li a{
        font-size:16px;
    }
    body{
        background: rgb(186, 209, 218);
    }
    .checkbtn{
        display:block;
    }
    ul{
      display: none;
      position: fixed;
      width: 92%;
      height:88%;
      /* background: rgb(186, 209, 218); */
      background: white;
      top:11%;
      left:4%;
      padding: 80px;
      text-align: center;
      transition: all .5s;
      z-index: 1;
      cursor: pointer;
    }
    nav ul li{
      display:block;
      margin:50px 0;
      line-height: 30px;
      text-align: center;
      padding: 5% 20% 5% 28%;
    }
    nav ul li a{
      color: black;
      font-size:20px;
    }
    nav ul li a:hover{
      color: #707070;
    }
    /* a:hover,a.active{
        background: none;
        color:whitesmoke;
    } */
    #check:checked ~ ul{
        display: block;
    }
    .checkbtn{
        position: absolute;
        top:4%;
        right:4%;
        background: transparent;
        width: 50px;
        height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    #check{
        display: none;
        width:50px;
        height:50px;
        position:absolute;
        top:4%;
        right:4%;
    }
    .checkbtn .h1{
        background:white;
        position:absolute;
        top:0%;
        left:10%;
        width:60%;
        height:4%;
        border-radius: 4px;
    }
    .checkbtn .h2{
        background:white;
        position:absolute;
        top:30%;
        left:10%;
        width:60%;
        height:4%;
        border-radius: 4px;
    }
    .checkbtn .h3{
        background:white;
        position:absolute;
        top:60%;
        left:10%;
        width:60%;
        height:4%;
        border-radius: 4px;
    }
    #hr{
        display: none;
    }
    ::-webkit-scrollbar{
        width:5px;
        margin-right:200px;
    }
    ::-webkit-scrollbar-track{
        background: rgba(255, 255, 255, 0);
    }
    ::-webkit-scrollbar-thumb{
        background: rgba(0, 0, 0, 0.694);
        /* border-radius: 10px; */
        background-clip: content-box;
        border:1.5px solid transparent;
    }
    .container0 .typed-out0{
        display: block;
        position: absolute;
        left: 25px;
        top: 25px;
        color: rgb(255, 255, 255);
        /* letter-spacing: 2px; */
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        text-transform: uppercase;
    }
    .container .typed-out{
        display: none;
    }
    footer p{
        font-size: 12px;
    }
}